.twitch {
	color: lightgray;
	font-family: redirectfont;
	transition: 0.75s;
	font-size: 35;
	margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 200px;
    animation: come-in 0.8s, text-idle 10s infinite;
    //margin-top: 25px;
  	//margin-bottom: 25px;
}

.twitch:link { text-decoration: none; }
.twitch:visited { text-decoration: none; }
.twitch:hover { color: #6441a5; text-shadow: 0px 0px 10px #815fc0; transform: rotate(2deg);}

.youtube {
	color: lightgray;
	font-family: redirectfont;
	transition: 0.75s;
	font-size: 35;
	margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 200px;
    animation: come-in 1s, text-idle 10s infinite;
    //margin-top: 25px;
  	//margin-bottom: 25px;
}

.youtube:link { text-decoration: none; }
.youtube:visited { text-decoration: none; }
.youtube:hover { color: #c4302b; text-shadow: 0px 0px 10px #d95652; transform: rotate(-2deg);}

.discord {
	color: lightgray;
	font-family: redirectfont;
	transition: 0.75s;
	font-size: 35;
	margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 200px;
    animation: come-in 1.2s, text-idle 10s infinite;
    //margin-top: 25px;
  	//margin-bottom: 25px;
}

.discord:link { text-decoration: none; }
.discord:visited { text-decoration: none; }
.discord:hover { color: #5865F2; text-shadow: 0px 0px 10px #a5acf8; transform: rotate(2deg);}

.about {
	color: transparent;
	font-family: aboutFont;
	transition: 0.75s;
	font-size: 30;
	margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    animation: come-in-about 2s, fall-about 1s, rainbow-text 5s infinite; ;
    background-image: repeating-linear-gradient(to left, red,violet,red);
    -webkit-background-clip: text;
}

.normal {
	color: white;
	font-family: normalFont;
	font-size: 20;
	margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    position: relative;
    width: 400px;
    animation: general-intro 2s;
}

@keyframes general-intro {
	0% {color: transparent;}
	100% {}
}


@keyframes rainbow-text {
	0% {background-position: 0 ;}
	100% {background-position: 200 ;}
}

@keyframes come-in-about {
	0% {letter-spacing: 10;}
	100% {letter-spacing: ;}
}

@keyframes fall-about {
	0% {color: white;}
	100% {}
}

@keyframes come-in {
	0% {font-size: 0; color: transparent;}
	80% {font-size: 40 ;}
	100% {font-size: 35 ;}
}

.about:link { text-decoration: none; }
.about:visited { text-decoration: none; }
.about:hover {text-shadow: 0px 0px 10px #ffffff; transform: rotateX(-45deg);}

.home_bg {
	background: repeating-linear-gradient(0deg, #e6d87e, #ff1578, #e6d87e, #ff1578);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
	height: auto;
}

.about_bg {
	background: repeating-linear-gradient(0deg, #57bd90, #5970bf, #57bd90, #5970bf);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
	height: auto;
}

@keyframes gradient {
	0% {
		background-position: 0% 100%;
	}
	50% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 0% 100%;
	}
}

@font-face {
	font-family: redirectFont;
	src:  url(fonts/Rubik-Regular.ttf);
}

@font-face {
	font-family: aboutFont;
	src:  url(fonts/Mohave-Regular.ttf);
}

@font-face {
	font-family: normalFont;
	src:  url(fonts/Karla-Regular.ttf);
}

html {
	cursor:  url("cursors/normal.cur"), default;
}

a { cursor:  url("cursors/precision.cur"), default; }
